$list-title-margin: 12px;
$list-item-margin: 16px;
$-instagram-name:'Instagram';
$vk-name:'vk';
$facebook-name:'facebook';
//varibles
$-instagram: (143px, 0px, -143px, 0px, 17px, 18px, 160px, 143px, '../../images/icons.png', 'Instagram', );

$facebook: (143px, 33px, -143px, -33px, 17px, 18px, 160px, 143px, '../../images/icons.png', 'facebook', );

$logo-footer: (77px, 0px, -77px, 0px, 51px, 47px, 160px, 143px, '../../images/icons.png', 'logo_footer', );

$logo-header: (0px, 77px, 0px, -77px, 36px, 35px, 160px, 143px, '../../images/icons.png', 'logo_header', );

$vk: (51px, 77px, -55px, -77px, 22px, 13px, 160px, 143px, '../../images/icons.png', 'vk', );
