%btn {
	color: #fff;
	font-size: 14px;
	line-height: (17.09/14);
	display: inline-flex;
	align-items: center;
	height: 40px;
	vertical-align: bottom;
	font-weight: 700;
}
.header {

	&__btn-sign-in {
		@extend %btn;
		&:hover {
			opacity: 0.6;
		}
		&:disabled {
			opacity: 0.25;
		}  
	}

	&__btn-replace-ad {
		@extend %btn;
		background: rgba(255,255,255,.1);
		width: 236px;
    	margin-right: 8px;
		&:before {
			content: '';
			@include sprite($-shape);
			margin: 0 12px 0 13px;
		}
	}
}