.header {
	width: 100%;
	background: $bg-header;
	padding: 10px 0;
	height: 60px;
	&__wrap {
		margin: 0 auto;
		max-width: $max-w;
		width: $width-content;
		min-height: 40px;
		height: auto;
	}
	
	&__fixed-shadow {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(90, 104, 114, .5);
		display: none;
		filter: blur(32.64px);
		z-index: 500;
		&.open-start {
			display: block;
		}
	}
}

