@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

address {
  font-style: normal; }

button {
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

i {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #152935; }

input[type="radio"] {
  display: none; }

input[type="checkbox"] {
  display: none; }

button:active, button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: 0; }

*:focus {
  outline: none; }

img {
  width: 100%;
  height: auto; }

.filter__tags {
  color: #2573D8;
  font-size: .875rem;
  line-height: 1.22071;
  padding-top: 20px;
  font-weight: 600;
  letter-spacing: 0.25px; }

.filter__title {
  color: #152935;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 12px 0 20px;
  font-weight: 400; }

.filter__result-range {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #8C9BA5;
  font-size: .875rem;
  line-height: 1.22071;
  padding-bottom: 20px;
  font-weight: 600; }

.filter__sorting-currency:after, .filter__sorting-results:after {
  border: 5px solid transparent;
  border-top: 5px solid #8C9BA5;
  content: '';
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  margin-left: 12px; }

.filter__sorting-results:after {
  margin-left: 13px; }

.filter__sorting-results {
  padding-right: 27px; }

.filter__result-address {
  color: #2C74C7;
  font-size: 1rem;
  line-height: 22px; }

.filter__result-place {
  padding: 6px 0 23px; }

.filter__result-place-metro {
  color: #000;
  font-size: .75rem;
  line-height: 15px;
  padding-right: 12px; }

.filter__result-place-time {
  color: #9B9B9B;
  font-size: .75rem;
  line-height: 15px; }

.filter__result-features {
  font-size: .75rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6); }

.filter__result-size {
  color: #4A4A4A;
  font-size: .75rem;
  line-height: 15px;
  padding-top: 3px; }

.filter__result-text {
  color: #000;
  font-size: 13px;
  line-height: 20px;
  padding: 9px 0 13px;
  font-weight: 400; }

.filter__result-price {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 22px; }

.filter__result-change {
  color: #9B9B9B;
  line-height: 24px;
  font-size: 14px;
  padding: 6px 0 20px; }

.filter__result-price-cource {
  padding: 0 1.5px 2px 1.5px;
  border-bottom: 2px solid #B1B1B1;
  margin-left: 12px;
  cursor: pointer; }

.filter__results {
  font-weight: 600; }
  .filter__results-other {
    font-size: 12px;
    line-height: 20px;
    cursor: pointer; }
    .filter__results-other--mid {
      padding-bottom: 7px; }
    .filter__results-other--last {
      padding-bottom: 7px; }
  .filter__results-section {
    color: #979797; }
  .filter__results-section-name {
    color: rgba(0, 0, 0, 0.6);
    padding-right: 12px; }
  .filter__results-section-icon {
    background-image: url(../../images/icons_list.png);
    background-position: -29px -35px;
    width: 12px;
    height: 10px;
    display: inline-block;
    margin-left: 20px; }

.filter__result-metro-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  margin-right: 4px; }
  .filter__result-metro-status--green {
    background: #30AD64; }
  .filter__result-metro-status--blue {
    background: #4A90E2; }

.filter__result-slides {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 2px;
  padding-bottom: 17px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

input[type="checkbox"] + .filter__result-slide {
  width: 8px;
  height: 8px;
  display: inline-block;
  background: #D8D8D8;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer; }

input[type="checkbox"]:checked + .filter__result-slide {
  background: rgba(0, 0, 0, 0.6); }

.filter__result-btn {
  width: 148px;
  height: 35px;
  font-size: 13px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  font-weight: 700; }
  .filter__result-btn:after {
    content: "";
    background-image: url(../../images/icons_list.png);
    background-position: 0px 0px;
    width: 19px;
    height: 20px;
    display: inline-block;
    margin-left: 9px;
    -ms-transform: translateY(25%);
    transform: translateY(25%); }
  .filter__result-btn--high {
    background: #FFEFEA;
    color: rgba(208, 2, 2, 0.5041); }
  .filter__result-btn--good {
    background: #EAFFF5;
    color: #30AD64; }

.filter__result-btn-phone {
  height: 32px;
  width: 70px;
  display: block;
  border-radius: 3px;
  border: 2px solid rgba(48, 174, 99, 0.4);
  text-align: center;
  line-height: 32px; }

.filter__result-icon-phone {
  background-image: url(../../images/icons_list.png);
  background-position: 0px -35px;
  width: 14px;
  height: 15px;
  display: inline-block; }

.filter__result-btn-social {
  height: 32px;
  width: 70px;
  display: block;
  border-radius: 3px;
  border: 2px solid rgba(37, 115, 216, 0.4);
  text-align: center;
  line-height: 32px; }

.filter__result-icon-social {
  background-image: url(../../images/icons_list.png);
  background-position: -34px 0px;
  width: 16px;
  height: 17px;
  display: inline-block; }

.header_navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff; }
  .header_navigation__items {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: .875rem;
    line-height: 20px;
    width: 57%; }
    .header_navigation__items > * {
      -ms-flex: 0px;
      flex: 0px; }
  .header_navigation__link {
    display: inline-block;
    padding: 3px 1.5px 10px 1.5px;
    color: #fff;
    font-weight: 600; }
  .header_navigation__link--active {
    border-bottom: 2px solid #fff;
    font-weight: 700; }
  .header_navigation__icon-logo {
    background-image: url(../../images/icons.png);
    background-position: 0px -77px;
    width: 36px;
    height: 35px;
    display: inline-block;
    margin-right: 40px; }
  .header_navigation__item {
    margin-right: 3.1vw;
    cursor: pointer; }
    .header_navigation__item:last-child {
      margin-right: 0; }
    .header_navigation__item_open {
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .header_navigation__circle {
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-right: 2px; }
  .header_navigation__other {
    margin-left: 7px;
    vertical-align: sub;
    font-weight: 600; }
  .header_navigation__other-menu {
    display: none; }
  .header_navigation__menu-open {
    display: none; }

.menu-open__icon {
  background: url(../../images/menu.png) no-repeat;
  width: 22px;
  height: 11px;
  display: inline-block;
  background-size: cover; }

.blur {
  -webkit-filter: blur(32.64px);
  filter: blur(32.64px);
  z-index: 1; }

.header__btn-sign-in, .header__btn-replace-ad {
  color: #fff;
  font-size: 14px;
  line-height: 1.22071;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  vertical-align: bottom;
  font-weight: 700; }

.header__btn-replace-ad {
  background: rgba(255, 255, 255, 0.1);
  padding-right: 30px;
  margin-right: 16px; }
  .header__btn-replace-ad:before {
    content: '';
    background-image: url(../../images/icons.png);
    background-position: -143px -66px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 12px 0 13px; }

.header_navigation__link:hover {
  border-bottom: 2px solid #fff;
  transition: all .25s; }

.header__btn-replace-ad:hover {
  opacity: 0.6; }

.header {
  width: 100%;
  background: #30AE63;
  padding: 10px 0;
  height: 60px; }
  .header__wrap {
    margin: 0 auto;
    max-width: 1280px;
    width: 78.83082%;
    min-height: 40px;
    height: auto; }
  .header__fixed-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(90, 104, 114, 0.5);
    display: none;
    -webkit-filter: blur(32.64px);
    filter: blur(32.64px);
    z-index: 500; }
    .header__fixed-shadow.open-start {
      display: block; }

@media screen and (max-width: 990px) {
  .header__wrap {
    width: calc(100% - 32px); } }

@media screen and (max-width: 860px) {
  .header__btn-sign-in {
    display: block;
    margin-top: 32px; }
  .header__wrap {
    width: calc( 100% - 32px ); }
  .header_navigation {
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 56px 0 0 71px; }
    .header_navigation__items {
      -ms-flex-direction: column;
      flex-direction: column;
      font-weight: 600; }
      .header_navigation__items > * {
        display: none;
        z-index: 1000; }
    .header_navigation__icon {
      position: absolute;
      top: 0;
      left: -2px;
      display: block; }
    .header_navigation__item.open-start {
      display: block; }
    .header_navigation__item--select {
      position: absolute;
      top: 0px;
      left: 71px;
      display: block; }
    .header_navigation__right-menu {
      display: none; }
    .header_navigation__link {
      padding-bottom: 20px; }
      .header_navigation__link:hover {
        border-width: 0;
        border: none; }
      .header_navigation__link--active {
        padding-bottom: 10px; }
    .header_navigation__item:last-child {
      -ms-flex-preferred-size: 0px;
      flex-basis: 0px; }
    .header_navigation__other {
      display: none; }
    .header_navigation__item_open {
      display: none; }
    .header_navigation__other-menu {
      display: block;
      font-size: 14px;
      line-height: 20px; }
    .header_navigation__item-menu {
      padding-bottom: 32px;
      cursor: pointer; }
    .header_navigation__menu-open {
      display: block;
      position: absolute;
      top: 11px;
      right: 2px;
      z-index: 1000; }
    .header_navigation__right-menu {
      z-index: 1000; }
      .header_navigation__right-menu.open-start {
        display: block; } }

.contacts-list__social {
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .contacts-list__social-Instagram {
    background-image: url(../../images/icons.png);
    background-position: -143px 0px;
    width: 17px;
    height: 18px;
    display: inline-block;
    opacity: 0.5; }
  .contacts-list__social-vk {
    background-image: url(../../images/icons.png);
    background-position: -55px -77px;
    width: 22px;
    height: 13px;
    display: inline-block;
    opacity: 0.5; }
  .contacts-list__social-facebook {
    background-image: url(../../images/icons.png);
    background-position: -143px -33px;
    width: 17px;
    height: 18px;
    display: inline-block;
    opacity: 0.5; }
  .contacts-list__social-item {
    margin-right: 16px; }
    .contacts-list__social-item:last-child {
      margin-right: 0; }

.contacts-list {
  font-weight: 400;
  color: #152935; }
  .contacts-list__title {
    margin-bottom: 13px;
    font-size: 16px;
    line-height: 2;
    font-weight: 600; }
  .contacts-list__address {
    margin-bottom: 4px; }
  .contacts-list__city {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 16px; }
  .contacts-list__btn {
    display: block; }
  .contacts-list__wrap {
    max-width: 168px;
    font-size: 13px;
    line-height: 20px; }
  .contacts-list__social {
    margin-bottom: 11px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 0;
    -ms-flex-align: center;
    align-items: center; }
  .contacts-list__email {
    color: #152935;
    font-size: 13px;
    line-height: 20px;
    display: block;
    margin-bottom: 16px; }
  .contacts-list__btn {
    width: 162px;
    height: 40px;
    background: #30AE63;
    color: #fff;
    font-size: .875rem;
    line-height: 40px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700; }
    .contacts-list__btn:hover {
      border: 1px solid #DFE3E6;
      background: #50DB88;
      color: #fff;
      line-height: 38px; }

.partnerships-list__title {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #152935; }

.partnerships-list__item {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 1.53846; }
  .partnerships-list__item:last-child {
    margin-bottom: 0; }

.partnerships-list__wrap {
  max-width: 168px; }

.find_more-list__title {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #152935; }

.find_more-list__item {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 1.53846; }
  .find_more-list__item:last-child {
    margin-bottom: 0; }

.find_more-list__wrap {
  max-width: 168px; }

.company-list__title {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
  color: #152935; }

.company-list__item {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 1.53846; }
  .company-list__item:last-child {
    margin-bottom: 0; }

.company-list__wrap {
  max-width: 168px; }

.footer__logo {
  display: block;
  text-align: center;
  -ms-flex: 1 100%;
  flex: 1 100%;
  margin: 28px 0 46px; }
  .footer__logo_icon {
    background-image: url(../../images/icons.png);
    background-position: -77px 0px;
    width: 51px;
    height: 47px;
    display: inline-block;
    opacity: 1; }

.footer {
  max-width: 1280px;
  width: 78.83082%;
  margin: 0 auto;
  background: rgba(90, 104, 114, 0);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 23px; }
  .footer > * {
    -ms-flex-preferred-size: 23.93365%;
    flex-basis: 23.93365%;
    min-width: 202px;
    margin-bottom: 32px; }

@media screen and (max-width: 860px) {
  .footer {
    width: 100%;
    padding: 0;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; } }

@media screen and (max-width: 860px) {
  .contacts-list__wrap {
    margin: 0 auto; } }

@media screen and (max-width: 860px) {
  .company-list__wrap {
    margin: 0 auto; } }

@media screen and (max-width: 860px) {
  .partnerships-list__wrap {
    margin: 0 auto; } }

@media screen and (max-width: 860px) {
  .find_more-list__wrap {
    margin: 0 auto; } }

.contacts-list__social-Instagram:hover {
  opacity: 1; }

.contacts-list__social-vk:hover {
  opacity: 1; }

.contacts-list__social-facebook:hover {
  opacity: 1; }

.footer__logo_icon:hover {
  opacity: 0.75; }

.modal__title {
  font-size: 1.5rem;
  line-height: 2rem; }

.modal__item-list {
  font-size: .875rem;
  line-height: 1.0625rem;
  padding: 0 5.5px 8px 5.5px;
  cursor: pointer;
  margin-right: 35px;
  font-weight: 400; }

.modal__item-list--active {
  font-weight: 600;
  width: 100%;
  border-bottom: 2px solid #30AE63; }

.modal {
  width: 66.7%;
  height: 484px;
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: none; }
  .modal__wrap {
    display: -ms-flexbox;
    display: flex; }
    .modal__wrap > * {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      padding: 46px 35px 49px; }
  .modal__line {
    width: 100%;
    height: 4px;
    background: #30AE63; }
  .modal__info {
    background: #F5F7FA; }
  .modal__submit-app {
    background: #fff; }
  .modal__close {
    background: url(./../../images/close.png) no-repeat;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer; }
  .modal__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90, 104, 114, 0.5);
    z-index: 5; }

.dropdown-m__select {
  height: 40px;
  width: 100%;
  border: 2px solid #DFE3E6;
  position: relative;
  font-size: .875rem;
  line-height: 36px;
  background: #fff;
  color: #152935;
  cursor: pointer; }
  .dropdown-m__select.open {
    border: 2px solid #30AE63;
    border-bottom: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

.dropdown-m__option {
  height: 40px;
  padding-left: 16px;
  font-weight: 600; }
  .dropdown-m__option-selected {
    height: 36px;
    padding-left: 16px;
    font-weight: 600; }
    .dropdown-m__option-selected:after {
      display: inline-block;
      content: '';
      border: 5px solid transparent;
      border-top: 5px solid #30AE63;
      position: absolute;
      right: 15px;
      top: calc(50% - 2.5px); }

.dropdown-m__options-wrap {
  position: absolute;
  display: none;
  background: #fff;
  width: calc(100% + 4px);
  left: -2px; }
  .dropdown-m__options-wrap.open {
    border: 2px solid #30AE63;
    border-top: 2px solid #DFE3E6;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100; }

.modal__room {
  width: 40px;
  height: 40px;
  border: 2px solid #DFE3E6;
  border-radius: 50%;
  color: #152935;
  font-size: .875rem;
  line-height: 36px;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: 600; }
  .modal__room_active {
    background: #30AE63;
    color: #fff;
    border: none;
    line-height: 40px; }
  .modal__room:last-child {
    margin-right: 0; }

.modal__title {
  padding-bottom: 20px; }

.modal__text {
  font-size: .875rem;
  line-height: 1.25rem; }

.modal__list {
  padding-bottom: 23px; }

.modal__btn {
  width: 100%;
  height: 40px;
  background: #30AE63;
  color: #fff;
  font-size: .875rem;
  line-height: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  display: block; }
  .modal__btn:hover {
    border: 1px solid #DFE3E6;
    background: #50DB88;
    color: #fff;
    line-height: 38px; }

.modal__rooms {
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 40px; }

.modal__label {
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0 10px; }

.modal__name, .modal__email {
  border: 2px solid #DFE3E6;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  font-size: 12px;
  color: #5A6872;
  font-weight: 600; }

.modal__email {
  margin: 20px 0 40px; }

.modal__item-list:hover {
  border-bottom: 2px solid #30AE63;
  width: 100%;
  transition: all .1s; }

.modal__overlay:hover {
  opacity: 0.7;
  transition: all .5s;
  cursor: pointer; }

.dropdown__option:hover {
  background: #30AE63;
  transition: background .25s; }

.dropdown__option-selected:hover {
  cursor: pointer; }

.dropdown__option-selected:focus::after {
  border-top: none;
  border-bottom: 5px solid #30AE63; }

.filter {
  max-width: 1280px;
  width: 78.83082%;
  margin: 0 auto 20px; }
  .filter__results-map {
    display: none; }
  .filter__result-flat {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 12px;
    padding: 13px 20px; }
    .filter__result-flat:last-child {
      margin-bottom: 0; }
  .filter__result-description-wrap {
    display: -ms-flexbox;
    display: flex; }
  .filter__result-photo {
    -ms-flex-preferred-size: 242px;
    flex-basis: 242px;
    margin-right: 20px;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .filter__result-description {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    position: relative; }
  .filter__result-finance {
    text-align: right; }
  .filter__result-contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 22px 0 33px; }
    .filter__result-contacts--mid {
      margin: 19px 0 26px; }
    .filter__result-contacts--last {
      margin: 19px 0 26px; }

.container {
  width: 100%;
  background: rgba(90, 104, 114, 0.08); }

.filter__results-wrap {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media screen and (min-width: 1280px) {
  .header__wrap {
    width: 890px;
    margin-left: 41px;
    margin-right: 12px; } }

@media screen and (min-width: 1280px) {
  .footer {
    width: 890px;
    margin-left: 41px;
    margin-right: 12px; } }

@media screen and (min-width: 1280px) {
  .filter {
    margin-left: 41px;
    margin-right: 12px;
    width: calc(100% - 53px);
    max-width: 100%; }
    .filter__results-map {
      display: block;
      width: calc(100% - 903px); }
    .filter__iframe {
      width: 100%;
      height: 100%; }
    .filter__results {
      width: 890px; }
    .filter__details {
      width: 890px; } }

@media screen and (max-width: 940px) {
  .filter {
    width: 100%; }
    .filter__details {
      padding: 0 20px; }
    .filter__title {
      font-size: 1rem; }
    .filter__number {
      margin-bottom: 12px; }
  .filter__result-photo {
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    min-width: 320px;
    margin: 0; }
  .filter__result-description-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .filter__result-description {
    position: static; }
  .filter__result-slides {
    position: static;
    -ms-transform: none;
    transform: none; }
  .filter__result-range {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (max-width: 560px) {
  .filter__result-flat {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .filter__result-finance {
    position: static;
    text-align: start;
    width: 100%; }
  .filter__result-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-left: 14px;
    margin: 22px 19px 0 0; }
    .filter__result-btn:after {
      -ms-transform: translateY(35%);
      transform: translateY(35%); }
    .filter__result-btn-social {
      margin-left: 8px;
      height: 34px;
      line-height: 34px; }
    .filter__result-btn-phone {
      height: 34px;
      line-height: 34px; }
  .filter__result-slides {
    position: absolute;
    bottom: 38px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .filter__result-price-cource {
    display: none; }
  .filter__result-address {
    padding-top: 30px; }
  .filter__result-price {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 50%; }
  .filter__result-change {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 46%;
    padding: 6px 0 0px; }
  .filter__result-contacts {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 22px 0 87px;
    float: right; }
  .filter__results-other {
    position: absolute;
    right: 20px;
    bottom: 38px; } }

.filter__sorting-currency:hover, .filter__sorting-results:hover {
  cursor: pointer; }

.filter__result-btn-phone:hover {
  box-shadow: 1px 1px 9px #2C3D47; }

.filter__result-btn-social:hover {
  box-shadow: 1px 1px 9px #2C3D47; }

.filter__result-btn:hover {
  opacity: 0.75; }
