.container-search-home {
	background: url(./../../images/homepage.png) no-repeat;
	background-size: cover;
	min-height: 301px;
	height: auto;

    & > * {
    	margin: 0 auto;
		max-width: $max-w;
		width: $width-content;
    }
}


.container-content {
	width: 100%;
	background: $bg-color; 
	padding-top: 20px;
	color: $a-color;
}


.header_navigation {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	color: #fff;
	&__items {
		display: inline-flex;
		flex-wrap: wrap;
		font-size: .875rem;
		line-height: 20px;
		& > * {
			flex: 0px;
		}
	}

	&__other-menu {
		display: none;
	}
}

.slider {
	display: flex;
	height: auto;
	width: 100%;
	overflow-x: auto;

	&__items {
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-width: 844px;
	}

	&__item {
		width: ($width-slide/844px)*100%;
		min-width: 202px;
		margin-right: 16px;
	}
}

.social {
	padding: 40px 0;
	background: $bg-section;

	&__list-wrap {
		display: flex;
		justify-content: center;
		width: 107%;
	}
	
	&__phone {
		width: (282px/890px)*100%;
		min-width: 282px;
	}

	&__item {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 39px;
		flex: 1 100%;
	}

	&__items {
		width: 200%;
	}


	&__slides {
		display: flex;
		justify-content: center;
	}

	&__wrap {
		width: 60%;
		margin: 0 auto;
		padding-bottom: 51px;
	}
}

.search-home {
	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.blogs {
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		flex-basis: ($width-blog/844px)*100%;
		min-width: $width-blog;
		margin-bottom: 20px;
		padding-bottom: 13px;
	}
}

.blur {
	filter: blur(32.64px);
}