.container-search-home {
	@media screen and (max-width: 1120px) {
		& > * {
			width: 100%;
			padding-right:16px;
			padding-left:16px;
		}
	}
}

section {
	@media screen and (max-width: 1120px) {
		width: 100%;
	}
}


@media screen and (max-width: 1120px) {
	.filter-home {
		padding: 20px 16px;
	}

	
	.wrapper {
		padding: 20px 0 0 16px;
	}

	.blogs__wrap {
		padding: 20px 0 0;
	}

}


@media screen and (max-width: 860px) {
	.search-home {
		&__info {
			flex-direction: column;
			align-items: flex-start;
		}
		&__btn {
			align-self: flex-start;
			margin-bottom: 27px;
		}
		&__city {
			flex-basis:0;
			min-width: 312px; 
		}

		&__city__select {
			width: 100%;
		}
		&__rooms-home {
			padding: 36px 0;
			align-self: flex-start;
		}
	}

	.header {
		&__wrap {
			flex-direction: column;
			align-items: flex-start;
		}

		&__btn-sign-in {
			display: block;
		}
	}


	.header_navigation {
		align-items: flex-start;
		&__items{
			flex-direction: column;
		}

		&__item:hover {
			border-width: 0;
		}

		&__item:last-child {
			flex-basis: 0px;
		}
		
	}

	.blogs {
		
		&__items {
			justify-content: center;
		}

		&__item {
			border-radius: 2px;
			box-shadow: 0 1px 2px rgba(0,0,0,.1);
			min-width: 320px;
		}

		&__item__tag {
			padding-left: 20px;
		}

		&__item__author {
			padding-left: 20px;
		}

		&__item__title {
			padding-left: 20px;
		}
	}

}


