
$a-color: #152935;
$max-w: 1280px;
$width-content: 890px/1129px * 100%;
$bg-color: rgba(90, 104, 114, .08);
$bg-footer: rgba(90, 104, 114, .08);
$bg-section: rgba(90, 104, 114, 0);
$padding-nav: 4.5px;
$border-select: #DFE3E6;
$border-open: #30AE63;
$bg-hover: #50DB88;
$red-status: #E71D32;
$width-slide: 202px;
$width-blog: 272px;
$color-rooms: #8C9BA5;
$border-color: #D8D8D8;
$blue-status: #2573D8;
$color-lifehak: #BA8FF7;
$color-metrovka: #30AE63;
$color-techno: #2573D8;


// icons variable

$checkmark-glyph: (0px, 127px, 0px, -127px, 16px, 16px, 160px, 143px, '../../images/icons.png', 'checkmark--glyph', );

$menu: (96px, 77px, -96px, -77px, 27px, 17px, 160px, 143px, '../../images/icons.png', 'menu', );

$telegram: (0px, 0px, 0px, 0px, 62px, 62px, 160px, 143px, '../../images/icons.png', 'telegram', );

$logo-header: (0px, 77px, 0px, -77px, 36px, 35px, 160px, 143px, '../../images/icons.png', 'logo_header', );

$-shape: (143px, 66px, -143px, -66px, 16px, 16px, 160px, 143px, '../../images/icons.png', 'Shape', );
