
$a-color: #152935;
$max-w: 1280px;
$width-content: 890px/1129px * 100%;
$bg-color: rgba(90, 104, 114, .08);
$bg-footer: rgba(90, 104, 114, .08);
$bg-section: rgba(90, 104, 114, 0);
$padding-nav: 4.5px;
$border-select: #DFE3E6;
$border-open: #30AE63;
$bg-hover: #50DB88;
$red-status: #E71D32;
$width-slide: 202px;
$width-blog: 272px;
$border-color: #D8D8D8;
$color-lifehak: #BA8FF7;
$color-metrovka: #30AE63;
$color-tags: #2573D8;
$line-17: (17.09px/14px);
$color-range: #8C9BA5;
$color-address: #2C74C7;
$blue-status: #4A90E2;
$green-status: #30AD64;
$color-st: #9B9B9B;
$color-size: #4A4A4A;
$bg-slide: rgba(0,0,0,.6);
$btn-high: #FFEFEA;
$btn-good: #EAFFF5;
$color-good: #30AD64;
$color-high: rgba(208, 2, 2, .5041);
$border-phone: rgba(48,174,99,.4);
$border-mes: rgba(37,115,216,.4);

$-facebook-messenger: (34px, 0px, -34px, 0px, 16px, 17px, 50px, 50px, '../../images/icons_list.png', 'Facebook_Messenger', );

$-group-3: (0px, 0px, 0px, 0px, 19px, 20px, 50px, 50px, '../../images/icons_list.png', 'Group 3', );

$-group-9-copy-7: (29px, 35px, -29px, -35px, 12px, 10px, 50px, 50px, '../../images/icons_list.png', 'Group 9 Copy 7', );

$-shape: (0px, 35px, 0px, -35px, 14px, 15px, 50px, 50px, '../../images/icons_list.png', 'Shape', );
