.container-search-home {
	background: url(./../../images/homepage.png) no-repeat;
	background-size: cover;
	min-height: 301px;
	height: auto;

    & > * {
    	margin: 0 auto;
		max-width: $max-w;
		width: $width-content;
    }
}


.container-content {
	width: 100%;
	background: $bg-color; 
	padding-top: 20px;
	color: $a-color;
}