.best-home {
	&__wrap {
		padding: 20px 23px;
	}

	&__title {
		@extend %title;
		text-align: center;
		padding-bottom: 22px;
	}

	&__price-offers {
		display: block;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
		border-top: 2px solid $border-color;
		padding: 6px;
		font-weight: 600;
		transition: all 0.25s;
		&:hover {
			border-top-color: $border-open;
			color: $border-open;
		}
	}
}

