.blogs {
	margin-bottom: 66px;

	&__title {
		@extend %title;
		text-align: center;
	}
	
	&__text {
		width: 60%;
		margin: 0 auto;
		padding: 20px 0 15px;
		text-align: center;
		font-size: .875rem;
		line-height: 1.25rem;
		color: $a-color;
	}


	&__wrap {
		padding: 23px 23px 7px 23px;
	}

	&__slider_photo {
		position: relative;
	}

	&__sircles {
		position: absolute;
		right: 16px;
		top: 14px;
		cursor: pointer;
	}

	&__sircle {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		margin-top: 4px;
		background: #fff;

	}

	&__item__tag {
		font-size: 11px;
		line-height: 1rem;
		padding: 20px 0 4px;

		&--techno {
			color: $color-techno;
		}

		&--metrovka {
			color: $color-metrovka;
		}

		&--lifehak {
			color: $color-lifehak;
		}
	}

	&__item__author {
		color: $color-rooms;
		font-size: .75rem;
		line-height: 1.25;
	}

	&__item__title {
		font-size: 1rem;
		line-height: 1.5;
		padding-bottom: 20px;
		width: calc(#{'100% - 20px'});
	}

	&__item__time {
		@extend .blogs__item__author;
		&:before {
			content: '';
			height: 2px;
			width: 2px;
			display: inline-flex;
			border-radius: 50%;
			background: $color-rooms;
			transform: translateY(-5px);
    		align-items: center;
    		margin: 0 5px;
		}
	}

	&__page {
		display: block;
		font-size: 1rem;
		line-height: 1.5;
		text-align: center;
		border-top: 2px solid $border-color;
		cursor: pointer;
		padding: 6px 0;
	}
	
}