
%btn {
	color: #fff;
	font-size: .875rem;;
	line-height: (17.09/14);
	display: inline-flex;
	align-items: center;
	height: 40px;
	vertical-align: bottom;
	font-weight: 700;
}

.header {

	&__btn-sign-in {
		@extend %btn; 
		padding: 0 $padding-nav;
	}

	&__btn-replace-ad {
		@extend %btn;
		background: rgba(255,255,255,.1);
		margin-right: 7px;
    	width: 236px;
		&:before {
			content: '';
			@include sprite($-shape);
			margin: 0 12px 0 15px;
		}
	}
}

.search-home {
	&__btn {
		align-self: flex-end;
		@include btn_white(201px);
	} 
}