.filter-home {
	padding: 3.6vw 2.9vw 3.6vw 3.6vw;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

	&__dropdown {
		width: 313px; 
	}

	&__btn {
		@include btn_green(320px);
	}

	&__date {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__title {
		@extend %title;
	}

	&__items {
		margin-top: -10px; 
	}

	&__item {
		@extend %filter;
		&-active {
			@extend %filter-active;
		}
	}
}