
.social__info-image {
	@include sprite($telegram);
}

.menu-open__icon {
	background: url(../../images/menu.png) no-repeat;
	width: 22px;
	height: 11px;
	display: inline-block;
	background-size: cover;	
}