.social {
	
	&__title {
		@extend %title;
		text-align: center;
	}

	&__text {
		text-align: center;
		font-size: .875rem;
		line-height: 1.25rem;
		padding: 20px 25px;
	}

	&__item-list {
		@extend %filter;
		&--active {
			@extend %filter-active;
		}
	} 
	
	&__info {
		background: #fff;
		padding: 4.7vw 3.55vw;
		align-self: center;
		width: (435px/890px)*100%;
		margin-left: (90px/890px)*100%;

		&__title {
			display: inline-block;
			padding-left: 20px;
			@extend %title;
			transform: translateY(-75%);
		}

		&__title-list {
			@extend %title;
			padding: 24px 0 20px;
		}

		&__item {
			font-size: .875rem;
			line-height: 1.25;
			padding-bottom: 12px;
			text-indent: 3px;
		} 
		&__list {
			padding-bottom: 20px;
		}

		&__btn {
			@include btn_green(320px);
			display: block;
		}
	} 

	input[type="checkbox"] + &__slide {
		width: 14px;
		height: 14px;
		display: inline-block;
		border: 2px solid $border-open;
		border-radius: 50%;
		margin-right: 12px;
		cursor: pointer;
	}

}