.social {
	
	&__title {
		@extend %title;
		text-align: center;
	}

	&__text {
		text-align: center;
		font-size: .875rem;
		line-height: 1.25rem;
		padding: 20px 25px;
	}

	&__item-list {
		@extend %filter;
		&--active {
			@extend %filter-active;
		}
	} 
	
	&__info {
		background: #fff;
		padding: 4.7vw 3.55vw;
		align-self: center;
		width: (435px/890px)*100%;
		margin-left: 10.5%;

		&-title {
			display: inline-block;
			padding-left: 15px;
			@extend %title;
			transform: translateY(-75%);
		}

		&-title-list {
			@extend %title;
			padding: 24px 0 20px;
		}

		&-list {
			padding-bottom: 20px;
			counter-reset: item;
		}

		&-item {
			font-size: .875rem;
			line-height: 1.25rem;
			padding-bottom: 12px;
			display: block;
			&:before {
				counter-increment: item;
				content: counter(item) ". ";
				margin-right: 5px;
			}
		} 

		&-btn {
			@include btn_green(320px);
			display: block;
		}
	} 

	input[type="checkbox"] + &__slide {
		width: 16px;
		height: 16px;
		display: inline-block;
		border: 2px solid $border-open;
		border-radius: 50%;
		margin-left: 12px;
		cursor: pointer;
	}

}