.contacts-list {
	font-weight: 400;
	color: $a-color;
	&__title {
		margin-bottom: $list-title-margin;
		font-size: 16px;
		line-height: 2; 
		font-weight: 600;
	}

	&__address {
		margin-bottom: 4px;
	}

	&__city {
		font-size: 11px;
		line-height: 20px;
		margin-bottom: 16px;
	}
	&__btn {
		display: block;
	}
	&__wrap {
		max-width: 168px;
		font-size: 13px;
		line-height: 20px;
		
	}

	&__social {
		margin-bottom: 11px;
		display: inline-flex;
		line-height: 0;
		align-items: center;
	}

	&__email {
		color: $a-color;
		font-size: 13px;
		line-height: 20px;
		display: block;
		margin-bottom: 16px;
	}

	&__btn {
		@include btn_green(162px);
	} 
}


.partnerships-list {
	@include list($list-item-margin);
}

.find_more-list {
	@include list($list-item-margin);
}

.company-list {
	@include list($list-item-margin);
}
