


@mixin circles-modal($border-circle, $bg-circle, $color-circle, $color-active){
    &__room {
      width: 40px;
      height: 40px;
      border: 2px solid $border-circle;
      border-radius: 50%;
      color: $color-circle;
      font-size: .875rem;
      line-height: 36px;
      margin-right: 12px;
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      &_active {
        background: $bg-circle;
        color: $color-active;
        border: none;
        line-height: 40px;
      }
      &:last-child {
        margin-right: 0;
      } 

    }
}

@mixin btn_green-modal($width, $height: 40px){
  width: $width;
  height: $height;
  background: $border-open;
  color: #fff;
  font-size: .875rem;
  line-height: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  &:hover {
    border: 1px solid $border-select;
    background: $bg-hover;
    color: #fff;
    line-height: 38px;
  }
}

%title-modal {
  font-size: 1.5rem;
  line-height: 2rem;
}

%filter-modal {
  font-size: .875rem;
  line-height: 1.0625rem;
  padding: 0 5.5px 8px 5.5px;
  cursor: pointer;
  margin-right: 35px;
  font-weight: 400;
}

%filter-active-modal {
  font-weight: 600;
  width: 100%;
  border-bottom: 2px solid $border-open;
}