
$a-color: #152935;
$bg-color: rgba(90, 104, 114, .08);
$bg-footer: rgba(90, 104, 114, .08);
$bg-section: rgba(90, 104, 114, 0);
$padding-nav: 4.5px;
$border-select: #DFE3E6;
$border-open: #30AE63;
$bg-hover: #50DB88;
$red-status: #E71D32;
$width-slide: 202px;
$width-blog: 272px;
$color-rooms: #8C9BA5;
$border-color: #D8D8D8;
$blue-status: #2573D8;
$color-lifehak: #BA8FF7;
$color-metrovka: #30AE63;
$color-techno: #2573D8;
